.classpath
.project
.settings
.DS_Store
.pmd
*.swp
.wtpmodules
target
sdt.log*
sdt-application/src/main/java/HibernateTest.java
sdt-application/src/main/webapp/css/qcd.min.css
sdt-application/src/main/webapp/css/qcd.all.css
sdt-application/src/main/webapp/js/qcd.min.js
sdt-application/src/main/webapp/js/qcd.all.js
release.properties
pom.xml.releaseBackup
bin
sdt-application/src/main/webapp/WEB-INF/jsp
txt
